<div class="center-component">
    <form [formGroup]="formBov">
        <div class="card flex justify-content-center">
            <p-card class="card-shadow" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <div class="card-header">
                        <img src="/assets/img/bov.png" class="img-banner"/>
                    </div>
                </ng-template>
                <p>
                    <label for="withoutgrouping">Nível atual:</label>
                    <p-inputNumber 
                        mode="decimal" 
                        inputId="withoutgrouping" 
                        [useGrouping]="false"
                        class="centered w-full"
                        styleClass="w-full"
                        [min]="0" 
                        [max]="680"
                        [showButtons]="true"
                        formControlName="iCurrentLevel"
                        (ngModelChange)="getBovNeeded()" /><br />
    
                    <label for="withoutgrouping">Nível alvo:</label>
                    <p-inputNumber 
                        mode="decimal" 
                        inputId="withoutgrouping" 
                        [useGrouping]="false"
                        class="centered w-full"
                        styleClass="w-full"
                        [min]="0" 
                        [max]="680"
                        [showButtons]="true"
                        formControlName="iAimedLevel"
                        (ngModelChange)="getBovNeeded()" />
                </p>
                <p-divider />
                <ng-template pTemplate="footer">
                    <div class="flex align-items-center text-center gap-3 mt-1"
                        *ngIf="formBov.get('iCurrentLevel')?.value < formBov.get('iAimedLevel')?.value">
                        <span>
                            Quantidade de
                            <span [pTooltip]="tooltipFov" class="tooltip-fov">FoV</span>
                            requerida do nível {{ formBov.get('iCurrentLevel')?.value }} ao {{ formBov.get('iAimedLevel')?.value }} é de <b>{{ iFovAmount }}</b>.
                        </span>
                        <span>
                            Quantidade de
                            <span [pTooltip]="tooltipBov" class="tooltip-fov">BoV</span>
                            requerida do nível {{ formBov.get('iCurrentLevel')?.value }} ao {{ formBov.get('iAimedLevel')?.value }} é de <b>{{ iBovAmount }}</b>.
                        </span>
                    </div>
                    <div class="flex align-items-center text-center gap-3 mt-1"
                        *ngIf="formBov.get('iCurrentLevel')?.value >= formBov.get('iAimedLevel')?.value">
                        <span class="text-red-600">
                            Nota: O nível atual deve ser maior que zero e menor que o nível alvo.
                        </span>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </form>
</div>

<ng-template #tooltipFov>
    <span class="tooltip">Fragmento da Bravura</span>
</ng-template>
<ng-template #tooltipBov>
    <span class="tooltip">Bênção da Bravura</span><br /><br />
    Usando o nível 8 do Labirinto Fantasmagórico, você levaria aproximadamente {{ getBovNeededDays(iBovAmount, 710) }} dias para atingir o nível desejado.
</ng-template>