.hero-type-img {
    max-width: 128px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

.card-shadow {
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.2), 0 -1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

/*center with app-root*/
.center-component {
    vertical-align: top;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 53%;

} 