<div class="card flex justify-content-center">
    <p-fieldset>
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2 px-2">
                <p-avatar 
                    size="large"
                    image="https://c.tenor.com/nDiS35adwU0AAAAd/tenor.gif" 
                    shape="circle" />
                <span class="font-bold">Kayel</span>
            </div>
        </ng-template>
        <p>
            EN-US: This is a work in progress <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>. Any updates will be informed through Discord only.<br />
            PT-BR: Este é um trabalho em andamento <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>. Novas atualizações serão informadas apenas através do Discord.
        </p>
    </p-fieldset>
</div>