<div class="flex justify-content-center">
    <p-fieldset>
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2 px-2">
                <p-avatar 
                    size="large"
                    image="https://c.tenor.com/nDiS35adwU0AAAAd/tenor.gif" 
                    shape="circle" />
                <span class="font-bold">Kayel</span>
            </div>
        </ng-template>
        <p class="m-0">
            EN-US: This is a work in progress. Any other news will be reported only by Discord for the time being.<br />
            PT-BR: Isso é um trabalho em andamento. Novas notícias serão informadas apenas pelo Discord por ora.
        </p>
    </p-fieldset>
</div>